:root {
  --clr-white: #fff;
  --clr-dark: #333;
}

/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: var(--clr-dark);

  /* From https://css-pattern.com/ */
  --s: 220px;
  --c1: #4a5770;
  --c2: #1d1d1d;

  --_g: radial-gradient(#0000 60%, var(--c1) 61% 63%, #0000 64% 77%, var(--c1) 78% 80%, #0000 81%);
  --_c: , #0000 75%, var(--c2) 0;
  background: conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * 0.44) calc(0.9 * var(--s)), conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * -0.06) calc(0.4 * var(--s)), conic-gradient(at 20% 12% var(--_c)) calc(0.9 * var(--s)) calc(var(--s) * 0.44),
    conic-gradient(at 20% 12% var(--_c)) calc(0.4 * var(--s)) calc(var(--s) * -0.06), var(--_g), var(--_g) calc(var(--s) / 2) calc(var(--s) / 2) var(--c2);
  background-size: var(--s) var(--s);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* HEADER and FOOTER */
header,
footer {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  background: var(--clr-dark);
  color: var(--clr-white);
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 3rem 0;
}
.card {
  position: relative;
  width: 250px;
  background: var(--clr-white);
  box-shadow: 0 0 0 0.2rem var(--clr-white);
}
.card__close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: 50%;
  background: var(--clr-white);
  transition: all 0.2s linear;
}
.card__close:hover {
  background: var(--clr-dark);
  color: var(--clr-white);
}
.card__close:active {
  background: var(--clr-white);
  color: var(--clr-dark);
}
.card__img {
  height: 250px;
  overflow: hidden;
}
.card__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.2rem 0.8rem;
}
.card__title {
  font-size: 1.5rem;
  color: #2b3e60;
  text-align: center;
  text-transform: capitalize;
}
.card__rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 20px;
  background: #eee;
}
.card__rating-score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: var(--clr-white);
  font-size: 0.8rem;
  font-weight: bold;
}
.card__rating-score .material-symbols-outlined {
  color: #ff6347;
  font-size: 0.8rem;
}
.card__rating-btn {
  border: none;
  border-radius: 50%;
  background: none;
  transition: all 0.2s linear;
}
.card__rating-btn:hover {
  background: grey;
  color: var(--clr-white);
}
.card__rating-btn .material-symbols-outlined {
  font-size: 0.8rem;
}
