:root {
  --clr-white: #fff;
  --clr-dark: #333;
}

/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: var(--clr-dark);

  /* From https://css-pattern.com/ */
  --s: 220px;
  --c1: #4a5770;
  --c2: #1d1d1d;

  --_g: radial-gradient(#0000 60%, var(--c1) 61% 63%, #0000 64% 77%, var(--c1) 78% 80%, #0000 81%);
  --_c: , #0000 75%, var(--c2) 0;
  background: conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * 0.44) calc(0.9 * var(--s)), conic-gradient(at 12% 20% var(--_c)) calc(var(--s) * -0.06) calc(0.4 * var(--s)),
    conic-gradient(at 20% 12% var(--_c)) calc(0.9 * var(--s)) calc(var(--s) * 0.44), conic-gradient(at 20% 12% var(--_c)) calc(0.4 * var(--s)) calc(var(--s) * -0.06), var(--_g), var(--_g) calc(var(--s) / 2) calc(var(--s) / 2) var(--c2);
  background-size: var(--s) var(--s);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* HEADER and FOOTER */
header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  padding: 1rem;
  background: var(--clr-dark);
  color: var(--clr-white);
}
input#search {
  width: 200px;
  padding: 0.5rem 1rem;
}

/* HOME */
.home-main {
  padding: 2rem 1rem;
}

.home-title {
  margin-bottom: 2rem;
  font-size: 7rem;
  font-style: italic;
  color: var(--clr-white);
  text-align: center;
}

.home-cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.home-card {
  max-width: 500px;
  filter: grayscale(1);
  transition: all 0.1s ease-in;
}
.home-card:hover {
  transform: scale(105%);
  filter: grayscale(0);
}
.home-card img {
  width: 100%;
}

/* CARDS */

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title1 title2'
    'cards1 cards2';
  align-items: start;
  gap: 1rem;
  margin: 3rem 0;
  padding: 0 1rem;
}
.showcase__title {
  color: var(--clr-white);
  text-align: center;
}
.showcase__title:first-of-type {
  grid-area: title1;
}
.showcase__title:last-of-type {
  grid-area: title2;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
  background: rgba(74, 86, 110, 0.8);
}
.card {
  position: relative;
  width: 250px;
  background: var(--clr-white);
  box-shadow: 0 0 0 0.2rem var(--clr-white);
}
.card__close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: 50%;
  background: var(--clr-white);
  transition: all 0.2s linear;
}
.card__close:hover {
  background: var(--clr-dark);
  color: var(--clr-white);
}
.card__close:active {
  background: var(--clr-white);
  color: var(--clr-dark);
}
.card__img {
  height: 250px;
  overflow: hidden;
}
.card__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.2rem 0.8rem;
}
.card__title {
  font-size: 1.5rem;
  color: #2b3e60;
  text-align: center;
  text-transform: capitalize;
}
.card__rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 20px;
  background: #eee;
}
.card__rating-score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: var(--clr-white);
  font-size: 0.8rem;
  font-weight: bold;
}
.card__rating-score .material-symbols-outlined {
  color: #ff6347;
  font-size: 0.8rem;
}
.card__rating-btn {
  border: none;
  border-radius: 50%;
  background: none;
  transition: all 0.2s linear;
}
.card__rating-btn:hover {
  background: grey;
  color: var(--clr-white);
}
.card__rating-btn .material-symbols-outlined {
  font-size: 0.8rem;
}

@media (max-width: 650px) {
  .home-title {
    font-size: 5rem;
  }

  .home-cards {
    flex-direction: column;
  }

  .showcase {
    display: flex;
    flex-direction: column;
  }
}
