/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: #333;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* HEADER and FOOTER */
header,
footer {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  background: #333;
  color: #fff;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 3rem 0;
}
.card {
  position: relative;
  width: 200px;
}
.card__close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s linear;
}
.card__img {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border: 1px solid #333;
  border-top: none;
}
.card__title {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.card__rating {
  display: flex;
  gap: 1rem;
}
.card__rating p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card__rating p .material-symbols-outlined {
  color: #ff6347;
}
.card__rating button {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #333;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.card__close:hover,
.card__rating button:hover {
  background: #333;
  color: #fff;
}
.card__close:active,
.card__rating button:active {
  background: #fff;
  color: #333;
}
